* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

header img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    padding: 20px 0;
    text-align: center;
    background-color: #0e0e0e;
    color: #ececec;
}

h2 {
    padding: 20px 0;
}

body {
    background-color: #f9f9f9;
}

section .card {
    margin-bottom: 10px;
}

section {
    margin-bottom: 50px;
}